<h3>Movie:</h3>
<%= @movie.movie_name %><br>

<h3>Director:</h3>
<%= @movie.director %><br>

<h3>Description:</h3>
<%= @movie.description %>
<%= link_to "Edit", movies_edit_path, :class => "btn btn-default" %>